{% extends "base.html" %}

{% block content %}
    <h1>Blog</h1>

    <hr />

    {% if posts|length == 0 %}
    <p>No posts yet</p>
    {% else %}

        <ul>
            {% for post in posts %}
            <li>{{post.name}}
                <form method="POST" action="/delete-post" style="display:inline-block;">
                    <input type="hidden" name="post-id" value="{{post.id}}" />
                    <input type="submit" value="Remove Post" />
                </form>
            </li>
            {% endfor %}
        </ul>

    {% endif %}

{% endblock %}